body {
    background-color: #1abc9c;
    margin: 0;
    padding: 0;
    text-align: center;
}


.textdiv {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 30px;
}


img {
    height: 100px;
    width: 100px;
}

.icons {
    padding: 40px;
}


.container {
    position: relative;
    padding: 230px;
}

.author {
    position: relative;
    bottom: 0;
    width: 100%;
}

.dp {
    height: 150px;
    width: auto;
    justify-content: center;
}   

p {
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}